body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("https://raw.githubusercontent.com/ATMJakeWork/VUERepository/refs/heads/main/VUE_Five9_Image1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    transform: rotate(90deg);
    transform-origin: center;

    z-index: -1;
}